<p id="notice"><%= notice %></p>

<h1>Shortened Urls</h1>

<table>
  <thead>
    <tr>
      <th>Full url</th>
      <th>Slug</th>
      <th>User</th>
      <th>Counter</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shortened_urls.each do |shortened_url| %>
      <tr>
        <td><%= shortened_url.full_url %></td>
        <td><%= shortened_url.slug %></td>
        <td><%= shortened_url.user_id %></td>
        <td><%= shortened_url.counter %></td>
        <td><%= link_to 'Show', shortened_url %></td>
        <td><%= link_to 'Edit', edit_shortened_url_path(shortened_url) %></td>
        <td><%= link_to 'Destroy', shortened_url, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shortened Url', new_shortened_url_path %>
