<p id="notice"><%= notice %></p>

<p>
  <strong>Full url:</strong>
  <%= @shortened_url.full_url %>
</p>

<p>
  <strong>Shortened link:</strong>
  <%= link_to short_url_url(@shortened_url.slug), short_url_url(@shortened_url.slug) %>
</p>

<p>
  <strong>Counter:</strong>
  <%= @shortened_url.counter %>
</p>

<% if @shortened_url.user == current_user %>
<%= link_to 'Edit', edit_shortened_url_path(@shortened_url) %> |
<% end %>
<%= link_to 'Back', shortened_urls_path %>
